//
// modules: rainbow-view.scss
//
//

@-webkit-keyframes spin { 
	from { 
		-webkit-transform: rotate(0deg);
	} 
	to { 
		-webkit-transform: rotate(360deg);
	} 
}

.rainbow {
	height: 285px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	width: 580px;

	li {
		position: absolute;
	    height: 100%;
	    text-indent: -9999px;
		opacity: 0.8;
	}
	.ribbon {
		border-radius: 50%;
	    border-style: solid;
	    border-width: 40px;
		position: absolute;
		left: inherit;
		top: inherit;	
		@include animation-settings;
	}

	.red {
		left: 0;
		top: 0;

		.ribbon { 
			border-color: red; 
			height: 500px;
			width: 500px;
			clip: rect(0px, 580px, 290px, 0px);
			@include animation-delay;
		}
	}

	.orange { 
		left: 20px;
		top: 20px;

		.ribbon {
			border-color: orange; 
			height: 420px;
			width: 420px;
			clip: rect(0px, 500px, 250px, 0px);
			@include animation-delay(1s);
		}
	}

	.yellow { 
		left: 40px;
		top: 40px;

		.ribbon {
			border-color: yellow;
			height: 340px;
			width: 340px; 
			clip: rect(0px, 420px, 210px, 0px);
			@include animation-delay(2s);
		}	
	}

	.green { 
		left: 60px;
		top: 60px;

		.ribbon {
			border-color: green; 
			height: 260px;
			width: 260px;
			clip: rect(0px, 340px, 170px, 0px);
			@include animation-delay(3s);
		}
	}

	.blue { 
		left: 80px;
		top: 80px;

		.ribbon {
			border-color: blue; 
			height: 180px;
			width: 180px;
			clip: rect(0px, 260px, 130px, 0px);
			@include animation-delay(4s);
		}	
	}

	.indigo { 
		left: 100px;
		top: 100px;

		.ribbon {
			border-color: indigo; 
			height: 100px;
			width: 100px;
			clip: rect(0px, 180px, 90px, 0px);
			@include animation-delay(5s);
		}
	}

	.violet { 
		left: 120px;
		top: 120px;

		.ribbon {
			border-color: violet;
			height: 20px;
			width: 20px; 
			clip: rect(0px, 100px, 50px, 0px);
			@include animation-delay(6s);
		}
	}
}