@import "http://fonts.googleapis.com/css?family=Racing+Sans+One";
@media screen {
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000318}}
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000330}}
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000334}}
  body {
    line-height: 1;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000338}}
  ol, ul {
    list-style: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000342}}
  blockquote, q {
    quotes: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000347}}
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: "";
    content: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000352}}
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /*
  Copyright (c) 2010, Yahoo! Inc. All rights reserved.
  Code licensed under the BSD License:
  http://developer.yahoo.com/yui/license.html
  version: 2.8.1
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000363}}
  body {
    *font-size: small;
    *font: x-small;
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000369}}
  select, input, button, textarea, button {
    font: 99% arial, helvetica, clean, sans-serif;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000373}}
  table {
    font-size: inherit;
    font: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/base\/_reset\.scss}line{font-family:\0000378}}
  pre, code, kbd, samp, tt {
    *font-size: 108%;
    font-family: monospace;
    line-height: 100%;
  }

  /*
  font sizes
  px  %
  10	77
  11	85
  12	93
  13	100
  14	108
  15	116
  16	123.1
  17	131
  18	138.5
  19	146.5
  20	153.9
  21	161.6
  22	167
  23	174
  24	182
  25	189
  26	197
  */
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
    }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000315}}
  #rainbow {
    height: 285px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    width: 580px;
    -moz-transition: height 500ms ease-in-out;
    -webkit-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000323}}
  #rainbow.reveal {
    height: 580px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000327}}
  #rainbow li {
    position: absolute;
    height: 100%;
    text-indent: -9999px;
    opacity: 0.8;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000333}}
  #rainbow .ribbon {
    border-radius: 50%;
    border-style: solid;
    border-width: 40px;
    position: absolute;
    left: inherit;
    top: inherit;
    -moz-animation: spin;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-fill-mode: forwards;
    -webkit-animation: spin;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    animation: spin;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000343}}
  #rainbow .red {
    left: 0;
    top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000347}}
  #rainbow .red .ribbon {
    border-color: red;
    height: 500px;
    width: 500px;
    clip: rect(0px, 580px, 290px, 0px);
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000356}}
  #rainbow .orange {
    left: 20px;
    top: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000360}}
  #rainbow .orange .ribbon {
    border-color: orange;
    height: 420px;
    width: 420px;
    clip: rect(0px, 500px, 250px, 0px);
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000369}}
  #rainbow .yellow {
    left: 40px;
    top: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000373}}
  #rainbow .yellow .ribbon {
    border-color: yellow;
    height: 340px;
    width: 340px;
    clip: rect(0px, 420px, 210px, 0px);
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000382}}
  #rainbow .green {
    left: 60px;
    top: 60px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000386}}
  #rainbow .green .ribbon {
    border-color: green;
    height: 260px;
    width: 260px;
    clip: rect(0px, 340px, 170px, 0px);
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000395}}
  #rainbow .blue {
    left: 80px;
    top: 80px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\0000399}}
  #rainbow .blue .ribbon {
    border-color: blue;
    height: 180px;
    width: 180px;
    clip: rect(0px, 260px, 130px, 0px);
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\00003108}}
  #rainbow .indigo {
    left: 100px;
    top: 100px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\00003112}}
  #rainbow .indigo .ribbon {
    border-color: indigo;
    height: 100px;
    width: 100px;
    clip: rect(0px, 180px, 90px, 0px);
    -moz-animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\00003121}}
  #rainbow .violet {
    left: 120px;
    top: 120px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/modules\/_rainbow-view\.scss}line{font-family:\00003125}}
  #rainbow .violet .ribbon {
    border-color: violet;
    height: 20px;
    width: 20px;
    clip: rect(0px, 100px, 50px, 0px);
    -moz-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/layouts\/_main\.scss}line{font-family:\0000313}}
  body {
    background: #DFFAFF;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/layouts\/_main\.scss}line{font-family:\0000317}}
  #main {
    font-family: "Racing Sans One", cursive;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/layouts\/_main\.scss}line{font-family:\0000320}}
  #main h1 {
    color: #333333;
    font-size: 6em;
    letter-spacing: -7px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: white(0.8) 0 1px 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/layouts\/_main\.scss}line{font-family:\0000329}}
  #main .cta {
    color: #333333;
    cursor: pointer;
    display: none;
    font-size: 2em;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
    -moz-transition: color 100ms ease-in-out;
    -webkit-transition: color 100ms ease-in-out;
    transition: color 100ms ease-in-out;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/annayh\/Sites\/roygbiv\/www\/stylesheets\/scss\/layouts\/_main\.scss}line{font-family:\0000339}}
  #main .cta:hover {
    color: #Ce31Ce;
  }
}
