//
// utilities: mixins.scss
//
//

@mixin letterpress($opacity){
    text-shadow: white($opacity) 0 1px 0;
}

@mixin background-opacity($color, $opacity: 0.8) {
    background: $color;
    background: rgba($color, $opacity);
}

@mixin transition($property: all, $duration: 500ms, $timing-function: ease-in-out) {
	-moz-transition: $property $duration $timing-function;
	-webkit-transition: $property $duration $timing-function;
	transition: $property $duration $timing-function;
}

@mixin animation-delay($delay: 0s) {
	-moz-animation-delay: $delay;
	-webkit-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin animation-settings($animation: spin, $duration: 2s, $timing-function: ease-in-out, $iteration-count: infinite, $direction: alternate, $fill-mode: forwards) {
	-moz-animation: $animation;
	-moz-animation-duration: $duration;
	-moz-animation-timing-function: $timing-function;
	-moz-animation-iteration-count: $iteration-count;
	-moz-animation-direction: $direction;
	-moz-animation-fill-mode: $fill-mode;	

	-webkit-animation: $animation;
	-webkit-animation-duration: $duration;
	-webkit-animation-timing-function: $timing-function;
	-webkit-animation-iteration-count: $iteration-count;
	-webkit-animation-direction: $direction;
	-webkit-animation-fill-mode: $fill-mode;

	animation: $animation;
	animation-duration: $duration;
	animation-timing-function: $timing-function;
	animation-iteration-count: $iteration-count;
	animation-direction: $direction;
	animation-fill-mode: $fill-mode;
}

