//
// layouts: home.scss
//
//

// Variables
$black: rgb(0, 0, 0);
$darkGrey: lighten($black, 20%);
$mediumGrey: lighten($black, 50%);
$lightGrey: lighten($black, 75%);
$pageWidth: 960px;

body {
	background: #DFFAFF;
}

#main {
	h1 {
		color: $darkGrey;
		font-family: 'Racing Sans One', cursive;
		font-size: 6em;
		letter-spacing: -7px;
		margin-bottom: 15px;
		text-align: center;
		@include letterpress(0.8);
	}

	.cta {
		text-align: center;
	}
}
