//
// layouts: home.scss
//
//

// Variables
$black: rgb(0, 0, 0);
$darkGrey: lighten($black, 20%);
$mediumGrey: lighten($black, 50%);
$lightGrey: lighten($black, 75%);
$pageWidth: 960px;

body {
	background: $lightGrey;
}

#main {
	overflow: auto;
	position: relative;

	h1 {
		color: $darkGrey;
		font: bold 250% / 200% helvetica, arial, sans-serif;
		margin-bottom: 15px;
		text-align: center
	}
}

#fork-me {
	@include sprite-background-image("forkme", $setHeight: true, $setWidth: true);
	border: 0;
	display: block;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 0;
	&:hover {
		@include sprite-background-position("forkme-hover");
	}
}

