//
// layouts: home.scss
//
//

// Variables
$black: rgb(0, 0, 0);
$darkGrey: lighten($black, 20%);
$mediumGrey: lighten($black, 40%);
$lightGrey: lighten($black, 75%);
$pageWidth: 960px;

body {
	background: #DFFAFF;
}

#main {
	font-family: 'Racing Sans One', cursive;

	h1 {
		color: $darkGrey;
		font-size: 6em;
		letter-spacing: -7px;
		margin-bottom: 15px;
		text-align: center;
		@include letterpress(0.8);
	}

	.cta {
		color: $darkGrey;
		cursor: pointer;
		display: none;
		font-size: 2em;
		font-weight: bold;
		margin: 30px 0;
		text-align: center;
		@include transition($property: color, $duration: 100ms);

		&:hover {
			color: #Ce31Ce;
		}
	}
}
